<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985034281607-9acbllfo6m0vlgvneqand39e8oeag8qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985034281607-9acbllfo6m0vlgvneqand39e8oeag8qu</string>
	<key>API_KEY</key>
	<string>AIzaSyDldc5_BgLg5XUkX1ozZ7ZvV7O2L_McWgg</string>
	<key>GCM_SENDER_ID</key>
	<string>985034281607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DessySoft.EcommersApp</string>
	<key>PROJECT_ID</key>
	<string>dessy-ecommers-app</string>
	<key>STORAGE_BUCKET</key>
	<string>dessy-ecommers-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985034281607:ios:1850edb9c0bf5e62301e22</string>
</dict>
</plist>